# Modelo Binomial

## ðŸ“š Librerias

In [6]:
import pandas as pd
import scipy.stats as ss
import numpy as np
import matplotlib.pyplot as plt

## ðŸ“„ðŸ“¥ Cargar el archivo

In [3]:
ruta="Fashion_Retail_Sales_ensayo_S02.xlsx"
df=pd.read_excel(ruta, engine='openpyxl')
df.head(6)

,Unnamed: 0,Customer Reference ID,Item Purchased,Purchase Amount (USD),Date Purchase,Review Rating,Payment Method
0,0,4018,Handbag,559.0,05-02-2023,NaN,Credit Card
1,1,4115,Tunic,733.7,11-07-2023,2.0,Credit Card
2,2,4019,Tank Top,639.9,23-03-2023,4.1,Cash
3,3,4097,Leggings,213.1,15-03-2023,3.2,Cash
4,4,3997,Wallet,731.3,27-11-2022,4.7,Cash
5,5,4080,Onesie,748.5,11-12-2022,4.5,Credit Card

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             512 non-null    int64
 1   Customer Reference ID  512 non-null    int64
 2   Item Purchased         512 non-null    object
 3   Purchase Amount (USD)  512 non-null    float64
 4   Date Purchase          512 non-null    object
 5   Review Rating          462 non-null    float64
 6   Payment Method         512 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 28.1+ KB