# Modelo Binomial

## üìö Librerias

In [3]:
import pandas as pd
import scipy.stats as ss
import numpy as np
import matplotlib.pyplot as plt

## üìÑüì• Cargar el archivo

In [4]:
ruta="Fashion_Retail_Sales_ensayo_S02.xlsx"
df=pd.read_excel(ruta, engine='openpyxl')
df.head(6)

,Unnamed: 0,Customer Reference ID,Item Purchased,Purchase Amount (USD),Date Purchase,Review Rating,Payment Method
0,0,4018,Handbag,559.0,05-02-2023,NaN,Credit Card
1,1,4115,Tunic,733.7,11-07-2023,2.0,Credit Card
2,2,4019,Tank Top,639.9,23-03-2023,4.1,Cash
3,3,4097,Leggings,213.1,15-03-2023,3.2,Cash
4,4,3997,Wallet,731.3,27-11-2022,4.7,Cash
5,5,4080,Onesie,748.5,11-12-2022,4.5,Credit Card

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             512 non-null    int64
 1   Customer Reference ID  512 non-null    int64
 2   Item Purchased         512 non-null    object
 3   Purchase Amount (USD)  512 non-null    float64
 4   Date Purchase          512 non-null    object
 5   Review Rating          462 non-null    float64
 6   Payment Method         512 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 28.1+ KB

In [8]:
df['Payment Method'].value_counts()

Payment Method
Credit Card    263
Cash           249
Name: count, dtype: int64

### üîç Eliminar datos Nulos NaN

In [9]:
df.isnull().sum()

Unnamed: 0                0
Customer Reference ID     0
Item Purchased            0
Purchase Amount (USD)     0
Date Purchase             0
Review Rating            50
Payment Method            0
dtype: int64

# Distribuci√≥n Binomial

## üéØ Resolver problema 1

Calcula la probabilidad de exito (p) como la proporci√≥n de consumidores que realizaron la compra y
pagaron con efectivo (Cash)

### üü¢ Paso 1: Identificar la columna que contiene el m√©todo de pago

üîç Pista:

- Utiliza ``df.columns`` para visualizar todas las columnas disponibles.

- Puedes verificar r√°pidamente los valores √∫nicos de una columna utilizando `df['columna'].unique()`.

In [14]:
print(df.columns)
print(df['Payment Method'].unique())

Index(['Unnamed: 0', 'Customer Reference ID', 'Item Purchased',
       'Purchase Amount (USD)', 'Date Purchase', 'Review Rating',
       'Payment Method'],
      dtype='object')
['Credit Card' 'Cash']

### üü¢ Paso 2: Filtrar por m√©todo de pago 'Cash'

In [15]:
compras_cash = df[df['Payment Method'] == 'Cash']
cantidad_cash = compras_cash.shape[0]

### üü¢ Paso 3: Obtener el total de consumidores

In [17]:
total_consumidores = df.shape[0]
total_consumidores

512

### üü¢ Paso 4: Calcular la probabilidad de √©xito (p)

La probabilidad de √©xito ($p$) se calcula como:

$
p = \frac{\text{Consumidores que pagaron en efectivo}}{\text{Total de consumidores}}
$

In [26]:
p = cantidad_cash / total_consumidores
print("Probabilidad de √©xito (p) es:", round(p,2))

Probabilidad de √©xito (p) es: 0.49

Este resultado indica la probabilidad de √©xtio para usarlo en la distribcui√≥n binomial